body {
  padding-top: 60px;
  padding-bottom: 40px;
}


#canvas-overlay-left, #canvas-overlay-right{
  z-index: 42;
  position: absolute;
  display:none;
}

.controls{
  background-color: lightblue;
  color: #333333;
  border-radius: 4px;
  font-size: 12pt;
  margin: 5px;

  min-height: 60px;
  padding: 10px 5px 10px 5px;

}

.slider-set{
  border-width: 1px;
  border-style: solid;
  border-color: grey;
  padding: 5px;
  border-radius: 4px;

  margin-top: 5px;
  margin-bottom: 5px;

  height: auto; 
  min-height: 35px;
}

.content-container{
  background-color: grey;
  border-radius: 4px;
  margin: 5px;
  padding: 10px;
  color: lightgrey;
  font-size: 14pt;

  min-width: 345px;
}

footer{
  margin: 10px;
}

.btn{
  margin-top: 5px;
  margin-bottom: 5px;
}

.btn-200{
  width: 200px;
}

.my-slider{
  margin-top: 5px;
 
}

.menu-sign{
  color: black;
}

.menu-bar .dropdown-menu,
.menu-bar{
  background-color: lightcyan;

}

.canvas{
  border-radius: 4px;
  border-color: lightgrey;
  border: 1px solid;
  margin: 10px;
  
}

.canvas-container{
  min-height:300px;
}

.container{
  padding:0px;
}

.centered{
  text-align: center;
}

.circle{
  height: 300px;

}

.hidden{
  display: none;
}

.ui-widget-header{
  background: grey;
}