<div class="footer-bar small-device controll-overlay">
  <button class="small-device-button footer action-undo" type="button">
    <i class="icon-undo"></i>
  </button>

    <button href="#" class="action-zoom-out small-device-button button-in-the-middle">
      <i class="icon-zoom-out"></i>
    </button>

    <button href="#" class="action-show-image-navigation small-device-button button-in-the-middle">
      <i class="icon-expand"></i>
    </button>

    <button href="#" class="action-zoom-in small-device-button button-in-the-middle">
      <i class="icon-zoom-in"></i>
    </button>    

  <button class="small-device-button footer action-redo" type="button">
    <i class="icon-redo"></i>
  </button>
</div>