<div id="left-panel-small-device" class="small-device fade-over-panel left-sided">

  <ul class="nav nav-tabs" id="menu-tab">
    <li class="active">
      <a href="#small-device-menu-file">File</a>
    </li>
    <li>
      <a href="#small-device-menu-view">View</a>
    </li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="small-device-menu-file">
      <ul>
        <li><a href="#" class="action-upload-image">Open image</a></li>
        <li><a href="#" class="action-save-image">Save image</a></li>
      </ul>
    </div>
    <div class="tab-pane" id="small-device-menu-view">
      <ul>
        <li><a href="#" class="action-clear">Clear image</a></li>
        <li><a href="#" class="action-zoom-reset">Zoom reset</a></li>
      </ul>
    </div>
  </div>

</div>