<div class="menu-bar navbar menu-small-device">
  <button class="btn btn-primary small-menu-btn" type="button" id="file-actions-list-sd-btn">
    File
    <span class="caret"></span>
  </button>

  <button class="btn btn-primary small-menu-btn" type="button" id="image-actions-list-sd-btn">
    Image
    <span class="caret"></span>
  </button>

  <button class="btn btn-primary small-menu-btn" type="button" id="edit-actions-list-sd-btn">
    Edit
    <span class="caret"></span>
  </button>

  <button class="btn btn-primary small-menu-btn" type="button" id="view-actions-list-sd-btn">
    View
    <span class="caret"></span>
  </button>

  <div>

      <ul class="file-actions-list-sd menu-element-sd">
        <li><button class="btn btn-default small-menu-btn action-upload-image" type="button">Open image (cmd+o)</button></li>
        <li class="divider"></li>
        <li><button class="btn btn-default small-menu-btn action-save-image" type="button">Save image (cmd+s)</button></li>
      </ul> 

      <ul class="image-actions-list-sd menu-element-sd">
        <li><button class="btn btn-default small-menu-btn action-grayscale" type="button">Grayscale</button></li>
        <li><button class="btn btn-default small-menu-btn action-bitmap" type="button">Bitmap</button></li>
        <li><button class="btn btn-default small-menu-btn action-invert" type="button">Invert Colors</button></li> 
      </ul>

      <ul class="edit-actions-list-sd menu-element-sd">
        <li><button class="btn btn-default small-menu-btn action-undo" type="button">Undo (cmd+z)</button></li>
        <li><button class="btn btn-default small-menu-btn action-redo" type="button">Redo (cmd+y)</button></li>
      </ul>

      <ul class="view-actions-list-sd menu-element-sd">
        <li><button class="btn btn-default small-menu-btn action-zoom-in" type="button">Zoom in  (+)</button></li>
        <li><button class="btn btn-default small-menu-btn action-zoom-out" type="button">Zoom out (-)</button></li>
        <li><button class="btn btn-default small-menu-btn action-zoom-reset" type="button">Zoom reset (cmd+0)</button></li>
        <li class="divider"></li>
        <li><button class="btn btn-default small-menu-btn action-show-toolbar" type="button">Show Toolbar</button></li>
        <!-- <li><button class="btn btn-default small-menu-btn action-show-color-picker" type="button">Show Colorpicker</button></li> -->
      </ul>

  </div>
</div>