<div class="navbar menu-bar small-device">
  <ul class="nav navbar-nav menu-nav collapsed">
    <li class="dropdown open">
      <a href="#" class="dropdown-toggle left" data-toggle="dropdown">Filter<b class="caret"></b></a>
      <ul class="dropdown-menu filter-actions-list">
        <li><a href="#" class="action-grayscale">Grayscale</a></li>
        <li><a href="#" class="action-bitmap">Bitmap</a></li>
        <li class="divider"></li>
        <li><a href="#" class="action-invert">Invert Colors</a></li> 
        <li><a href="#" class="action-emboss">Emboss</a></li> 
        <li><a href="#" class="action-sharpen">Sharpen image</a></li>
        <li><a href="#" class="action-lowpass">Lowpass filter</a></li> 
        <li><a href="#" class="action-highpass">Highpass filter</a></li> 
        <li class="divider"></li>
      </ul>
    </li>                       
  </ul>
</div><!--/.nav-collapse -->