<ul class="nav nav-tabs" id="menu-tab">
  <li class="active">
    <a href="#small-device-menu-file">File</a>
  </li>
  <li>
    <a href="#small-device-menu-view">View</a>
  </li>
</ul>

<div id='content' class="tab-content">
  <div class="tab-pane active" id="small-device-menu-file">
    <ul>
      <li><a href="#" class="action-upload-image">Open image (cmd+o)</a></li>
      <li class="divider"></li>
      <li><a href="#" class="action-save-image">Save image (cmd+s)</a></li>
    </ul>
  </div>
  <div class="tab-pane" id="small-device-menu-view">
    <ul>
      <li><a href="#" class="action-zoom-in">Zoom in  (+)</a></li>
      <li><a href="#" class="action-zoom-out">Zoom out (-)</a></li>
      <li><a href="#" class="action-zoom-reset">Zoom reset (cmd+0)</a></li>
    </ul>
  </div>
</div>    