<div class="menu-bar navbar small-device">
  <button class="btn small-menu-btn" type="button" id="dropdownMenu1">
    File
    <span class="caret"></span>
  </button>

  <button class="btn small-menu-btn" type="button" id="dropdownMenu2">
    Image
    <span class="caret"></span>
  </button>

  <button class="btn small-menu-btn" type="button" id="dropdownMenu3">
    Edit
    <span class="caret"></span>
  </button>

  <button class="btn small-menu-btn" type="button" id="dropdownMenu4">
    View
    <span class="caret"></span>
  </button>

  <div>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
      <li role="presentation" class="divider"></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
    </ul>

    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu2">
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
      <li role="presentation" class="divider"></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
    </ul>
  </div>
</div>

</div><input type="file" name="image" id="action-upload" style="display: none"></input>