<div class="navbar menu-bar big-device">
  <ul class="nav navbar-nav menu-nav">
    <li class="dropdown">
      <a href="#" class="dropdown-toggle left" data-toggle="dropdown">File<b class="caret"></b></a>
      <ul class="dropdown-menu file-actions-list">
        <li><a href="#" class="action-upload-image">Open image (cmd+o)</a></li>
        <li class="divider"></li>
        <li><a href="#" class="action-save-image">Save image (cmd+s)</a></li>
      </ul>
    </li>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle left" data-toggle="dropdown">Image<b class="caret"></b></a>
      <ul class="dropdown-menu image-actions-list">
        <li><a href="#" class="action-clear">Clear</a></li>
      </ul>
    </li>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle left" data-toggle="dropdown">Filter<b class="caret"></b></a>
      <ul class="dropdown-menu filter-actions-list">
        <li><a href="#" class="action-grayscale">Grayscale</a></li>
        <li><a href="#" class="action-bitmap">Bitmap</a></li>
        <li class="divider"></li>
        <li><a href="#" class="action-invert">Invert Colors</a></li> 
        <li><a href="#" class="action-emboss">Emboss</a></li> 
        <li><a href="#" class="action-sharpen">Sharpen image</a></li>
        <li><a href="#" class="action-lowpass">Lowpass filter</a></li> 
        <li><a href="#" class="action-highpass">Highpass filter</a></li> 
        <li class="divider"></li>
      </ul>
    </li>         
    <li class="dropdown">
      <a href="#" class="dropdown-toggle left" data-toggle="dropdown">Edit<b class="caret"></b></a>
      <ul class="dropdown-menu edit-actions-list">
        <li><a href="#" class="action-undo">Undo (cmd+z)</a></li>
        <li><a href="#" class="action-redo">Redo (cmd+y)</a></li>
      </ul>
    </li>   
    <li class="dropdown">
      <a href="#" class="dropdown-toggle left" data-toggle="dropdown">View<b class="caret"></b></a>
      <ul class="dropdown-menu view-actions-list">
        <li><a href="#" class="action-zoom-in">Zoom in  (+)</a></li>
        <li><a href="#" class="action-zoom-out">Zoom out (-)</a></li>
        <li><a href="#" class="action-zoom-reset">Zoom reset (cmd+0)</a></li>
        <li class="divider"></li>
        <li><a href="#" class="action-show-toolbar" >Show Toolbar</a></li>
        <!-- <li><a href="#" class="action-show-color-picker" >Show Colorpicker</a></li>  -->      
      </ul>
    </li>               
  </ul>
</div><!--/.nav-collapse -->