<div class="navbar navbar-default">
  <div class="navbar menu-bar">
    <ul class="nav navbar-nav menu-nav">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">File<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#" id="upload-image">Open image (cmd+o)</a></li>
          <li class="divider"></li>
          <li><a href="#" id="save-image">Save image (cmd+s)</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Image<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#" id="action-grayscale">Grayscale</a></li>
          <li><a href="#" id="action-bitmap">Bitmap</a></li>
          <li><a href="#" id="action-invert">Invert Colors</a></li> 
        </ul>
      </li>   
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Edit<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#" id="action-undo">Undo (cmd+z)</a></li>
          <li><a href="#" id="action-redo">Redo (cmd+y)</a></li>
        </ul>
      </li>   
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">View<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#" id="action-zoom-in">Zoom in  (+)</a></li>
          <li><a href="#" id="action-zoom-out">Zoom out (-)</a></li>
          <li><a href="#" id="action-zoom-reset">Zoom reset(cmd+0)</a></li>
        </ul>
      </li>               
    </ul>
  </div><!--/.nav-collapse -->
</div>
</div><input type="file" name="image" id="action-upload" style="display: none"></input>