<div class="navbar navbar-default">
  <div class="navbar menu-bar">
    <ul class="nav navbar-nav menu-nav">
      <li class="menu-name">
        Menu
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">File<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#" id="upload-image">Open image</a></li>
          <li class="divider"></li>
          <li><a href="#" id="save-image-l">Save left image</a></li>
          <li><a href="#" id="save-image-r">Save right image</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Image<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#" id="action-grayscale">Grayscale</a></li>
          <li><a href="#" id="action-bitmap">Bitmap</a></li>
          <li><a href="#" id="action-invert">Invert Colors</a></li>
        </ul>
      </li>   
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Edit<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#" id="action-undo">Undo</a></li>
          <li><a href="#" id="action-redo">Redo</a></li>
        </ul>
      </li>          
    </ul>
  </div><!--/.nav-collapse -->
</div>
</div><input type="file" name="image" id="action-upload" style="display: none"></input>