<button href="#" class="image-navigate-left small-device-button navigation-button hidden"><i class="icon-arrow-left2"></i></button>
<button href="#" class="image-navigate-up small-device-button navigation-button hidden"><i class="icon-arrow-up2"></i></button>
<button href="#" class="image-navigate-right small-device-button navigation-button hidden"><i class="icon-arrow-right3"></i></button>
<button href="#" class="image-navigate-down small-device-button navigation-button hidden"><i class="icon-arrow-down2"></i></button>