<div id="right-panel-small-device" class="small-device fade-over-panel right-sided">

  <ul class="nav nav-tabs" id="menu-tab">
    <li class="active">
      <a href="#small-device-menu-filter">Filter</a>
    </li>
    <li>
      <a href="#small-device-menu-painting">Painting</a>
    </li>
    <li>
      <a href="#small-device-menu-color">Color</a>
    </li>    
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="small-device-menu-filter">
      <ul class="filter-actions-list">
        <li><a href="#" class="action-grayscale">Grayscale</a></li>
        <li><a href="#" class="action-bitmap">Bitmap</a></li>
        <li class="divider"></li>
        <li><a href="#" class="action-invert">Invert Colors</a></li> 
        <li><a href="#" class="action-emboss">Emboss</a></li> 
        <li><a href="#" class="action-sharpen">Sharpen image</a></li>
        <li><a href="#" class="action-lowpass">Lowpass filter</a></li> 
        <li><a href="#" class="action-highpass">Highpass filter</a></li>
        <li class="divider"></li>
      </ul>
    </div>

    <div class="tab-pane" id="small-device-menu-painting">
		<div class="inner-content">
		<!-- set in CanvasGui -->
		</div>
    </div>
    <div class="tab-pane" id="small-device-menu-color">
		<div class="inner-content">
			<!-- set in CanvasGui -->
		</div>
    </div>

  </div> 

</div>