<div class="description centered">border</div>
</br>
<div class="shape-submenu-content submenu-centered-controls"></div>
</br>
<div class="output centered">10px</div>
</br>
<form>
  Shape
  <select name="shape">
  <option value="rectangle"><i class="icon-github4"></i>R</option>
  <option value="ellypse"><svg width="400" height="110">
  <rect width="300" height="100" style="fill:rgb(0,0,255);stroke-width:3;stroke:rgb(0,0,0)" />
</svg></option>
  </select> 
  </br></br>
  <input id='toolbar-shape-filled' type="checkbox" name="filled" value="filled"> Filled
</form>
</br>