<div>
  <div class="row" id="info">     
    <div class="row">
      <div class="col-md-12 centered"><h2>Outline</h2>(Drop an image into the left canvas to begin)</div></br> 
    </div>
  </div>

  <div class="row">       
    <div class="col-md-6 col-xs-12">  
      <canvas id="canvas-left" class="canvas" width="430" height="350">
      </canvas>
      <div id='canvas-overlay-left'></div>
    </div>
    <div class="col-md-6 col-xs-12">  
      <canvas id="canvas-right" class="canvas" width="430" height="350">
      </canvas>
      <div id='canvas-overlay-right'></div>
    </div>
  </div>   

  <div class="row">  
    <div class="controls" >
      <div class="col-md-4 col-xs-5 col-md-offset-1 slider-set">  
          <div class="col-md-5 col-xs-5">Treshold</div>
          <div class="col-md-4 col-xs-4 my-slider" id="slider-0"></div>
          <div class="col-md-2 col-xs-2 " id="slider-0-output">10</div>    
      </div>
      <div class="col-md-2 col-xs-4"> 
        <button type="button" class="btn btn-default" id="action-automatic-treshold">Automatic Treshold</button>
      </div>
      <div class="col-md-2 col-xs-3">  
        <button type="button" class="btn btn-default" id="action-outline">Outline</button>
      </div>
    </div>
  </div>
</div>

