<div class="blur-controls controls row big-device-options" enabled="true">
  <div class="col-lg-8 col-lg-offset-1 col-md-8 col-sm-12 col-xs-12 slider-set clearfix">
    <div class="col-md-2 col-xs-4 control-name">Blur</div>
    <div class="col-md-6 col-xs-11 my-slider" id="blur-slider"></div>
    <div class="col-md-1 col-xs-2 slider-output" id="blur-slider-output">0</div>
    <div class="col-md-1 col-xs-4 btn btn-devault inline-button color-ok hidden" id="blur-ok">
      <div class="button-text">OK</div>
    </div>
    <div class="col-md-1 col-xs-4 btn btn-devault inline-button color-nok hidden" id="blur-nok">
      <div class="button-text">Undo</div>
    </div>
  </div>
</div>