<div id="menu-container">

</div> 

<div class="row" id="info">     
    <div class="col-md-12 centered">
      <h2>Detect image areas with flood fill</h2>
      (Drop an image into the left canvas or choose 'File' -> 'Open image' to begin)
  </br> 
  </div>
</div>

<div id="canvas-container">

</div> 

<div class="row controls">
  <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12"> 
    <div id="algo-times"></div>
  </div>  
  <div class="col-md-offset-0 col-lg-2 col-md-3 col-sm-4 col-xs-12 centered" > 
    <button type="button" class="btn  btn-default" id="action-flood-stack">Fill regarding four surrounding Pixels</button>
  </div>
  <div class="col-md-offset-9 col-lg-2 col-md-3 col-sm-4 col-xs-12 centered"> 
    <button type="button" class="btn  btn-default" id="action-flood-queue">Fill regarding eight surrounding Pixels</button>
  </div>
   

</div>

