<div class="row" id="info">     

    <div class="col-md-12 centered">
      <h2>Outline</h2>
      (Drop an image into the left canvas or 
        <button type="button" class="btn btn-default" id="upload-image">
          upload
        </button> a file to begin)
    </div><input type="file" name="image" id="action-upload" style="display: none"></input>
  </br> 

</div>

<div class="row">       
  <div class="col-md-6 col-sm-6 col-md-6 col-xs-10 col-xs-offset-1 canvas-container">  
    <canvas id="canvas-left" class="canvas" width="300" height="300">
    </canvas>
  </div>
  <div class="col-md-6 col-sm-6 col-md-6 col-xs-10 col-xs-offset-1 canvas-container">  
    <canvas id="canvas-right" class="canvas" width="300" height="300">
    </canvas>
  </div>
</div>   

<div class="row controls">
  <div class="col-lg-5 col-lg-offset-1 col-md-7 col-sm-12 col-xs-12 slider-set">  
        <div class="col-md-4 col-xs-4">Threshold</div>
        <div class="col-md-6 col-xs-6 my-slider" id="slider-0"></div>
        <div class="col-md-2 col-xs-2 " id="slider-0-output">50</div>    
  </div>
  <div class="col-lg-2 col-md-3 col-sm-4 col-xs-offset-3 col-xs-9"> 
    <button type="button" class="btn btn-default" id="action-automatic-threshold">Automatic Threshold</button>
  </div>
  <div class="col-lg-1 col-md-2  col-sm-2 col-xs-4">  
    <button type="button" class="btn btn-default" id="action-dilation">Dilation</button>
  </div>
  <div class="col-lg-1 col-lg-offset-0 col-md-2 col-md-offset-10 col-sm-2 col-xs-4">  
    <button type="button" class="btn btn-default" id="action-erosion">Erosion</button>
  </div>
  <div class="col-lg-1 col-lg-offset-0 col-md-2 col-md-offset-10  col-sm-4 col-xs-4">  
    <button type="button" class="btn btn-default" id="action-outline">Outline</button>
  </div>
</div>

