<div class="contrast-controls controls row">
  <div class="col-lg-8 col-lg-offset-1 col-md-8 col-sm-12 col-xs-12 slider-set clearfix">
    <div class="col-md-2 col-xs-4">Contrast</div>
    <div class="col-md-6 col-xs-6 my-slider" id="contrast-slider"></div>
    <div class="col-md-1 col-xs-2 " id="contrast-slider-output">0</div>
    <div class="col-md-1 col-xs-4 btn btn-devault inline-button color-ok hidden" id="contrast-ok">OK</div>
    <div class="col-md-1 col-xs-4 btn btn-devault inline-button color-nok hidden" id="contrast-nok">Cancel</div>
  </div>
</div>