<div class="outline-controls controls row" enabled="true">
  <div class="col-lg-8 col-lg-offset-1 col-md-8 col-sm-12 col-xs-12 slider-set clearfix">  
        <div class="col-md-2 col-xs-4">Threshold</div>
        <div class="col-md-6 col-xs-6 my-slider" id="threshold-slider"></div>
        <div class="col-md-1 col-xs-2 " id="threshold-slider-output">50</div> 
        <div class="col-md-1 col-xs-4 btn btn-devault inline-button color-ok" id="threshold-ok">OK</div>  
        <div class="col-md-1 col-xs-4 btn btn-devault inline-button color-nok" id="threshold-nok">Cancel</div>
        <div class="col-md-1 col-xs-4 btn btn-devault inline-button color-neutral" id="action-automatic-threshold">Auto</div>    
  </div>
  <div class="col-lg-1 col-md-1  col-sm-2 col-xs-4">  
    <button type="button" class="btn btn-default" id="action-dilation">Dilation</button>
  </div>
  <div class="col-lg-1 col-lg-offset-0 col-md-1  col-sm-2 col-xs-4">  
    <button type="button" class="btn btn-default" id="action-erosion">Erosion</button>
  </div>
  <div class="col-lg-1 col-lg-offset-0 col-md-1   col-sm-4 col-xs-4">  
    <button type="button" class="btn btn-default" id="action-outline">Outline</button>
  </div>
</div>